.cbp .cbp-item { position: static; }
.cbp-item-wrapper { cursor: pointer; }

.cbp-wrapper {
	position: static;
	width: 100%;
	display: block;
	margin: 0 auto;
	height: auto;
}

.cbp-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.cbp .cbp-item { margin: 10px auto; }

@media screen and (max-width: 992px) {
	.Benifit .boxs.second:first-child { margin-top: 55px; }
	.Benifit .boxs.second, .Benifit .boxs.four { margin: 0; }
}